@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  -webkit-text-decoration: 0;
          text-decoration: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------------------------------*/
.number {
  -moz-font-feature-settings: 'lnum=1';
  -ms-font-feature-settings: 'lnum';
  -webkit-font-feature-settings: 'lnum';
  -o-font-feature-settings: 'lnum';
}

body {
  font-family: "Raleway";
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
  margin: 13px 0;
}

.header-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5px 0 0;
}

.header__logo img {
  margin: 0 6px 0 0;
  width: 64px;
  height: 64px;
}

h1 {
  font-size: 20px;
  font-weight: 700;
}

.header__email {
  margin: 0 48px 0 0;
}

.email {
  font-size: 18px;
  color: #EA4979;
}

.header__phone {
  margin: 0 49px 0 0;
}

.phone {
  font-size: 18px;
  color: black;
  font-weight: 700;
  font-variant-numeric: lining-nums;
  -webkit-font-feature-settings: 'lnum';
          font-feature-settings: 'lnum';
}

.header-item__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__search {
  margin: 0 40px 0 0;
}

.search-header {
  border-radius: 36px;
  border: 1px #2BDAC1 solid;
  position: relative;
}

.search-header__button {
  position: absolute;
  background-color: transparent;
  top: 9px;
  right: 25px;
}

.search-header__input {
  padding: 11px 0 11px 25px;
  border-radius: 36px;
  background-color: transparent;
  width: 253px;
  height: 40px;
  color: #2BDAC1;
}

::-webkit-input-placeholder {
  color: #2BDAC1;
  font-size: 12px;
}

:-ms-input-placeholder {
  color: #2BDAC1;
  font-size: 12px;
}

::-ms-input-placeholder {
  color: #2BDAC1;
  font-size: 12px;
}

::placeholder {
  color: #2BDAC1;
  font-size: 12px;
}

.header__basket {
  margin: 0 24px 0 0;
}

.basket-link {
  background: url("../img/svg/basket.svg") no-repeat;
  height: 40px;
  width: 40px;
  position: relative;
  display: inline-block;
}

.basket-link span {
  font-size: 10px;
  color: white;
  font-weight: 700;
  background-color: #2BDAC1;
  border-radius: 50%;
  opacity: 0;
}

.header-menu {
  width: 100%;
  border: 1px solid rgba(195, 95, 108, 0.2);
  padding: 15px 0;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-link {
  font-size: 20px;
  color: black;
}

.main__banner {
  height: 691px;
  max-height: 691px;
  background: -webkit-gradient(linear, left top, right top, from(#FDF8F8), to(#F1E4E3));
  background: linear-gradient(90deg, #FDF8F8, #F1E4E3);
  margin: 0 0 151px 0;
  position: relative;
}

.main__banner-image {
  background: url("../img/girl.png") no-repeat;
  height: 691px;
  max-height: 691px;
  position: absolute;
  top: 0;
  right: -105px;
}

@media (max-width: 767px) {
  .main__banner-image {
    width: calc(283px + 666.4 * ((100vw - 320px) / 1170));
  }
}

@media (min-width: 767px) {
  .main__banner-image {
    width: calc(283px + 392 * (100vw / 1170));
  }
}

@media (max-width: 767px) {
  .main__banner-image {
    right: 0px;
  }
}

.main__banner-title {
  padding: 90px 0 15px 0;
  position: relative;
  z-index: 1;
}

h2 {
  font-weight: 700;
  font-size: 45px;
}

.main__banner-text {
  position: relative;
  z-index: 1;
}

@media (max-width: 767px) {
  .main__banner-text {
    margin-bottom: calc(18px + 35.7 * ((100vw - 320px) / 1170));
  }
}

@media (min-width: 767px) {
  .main__banner-text {
    margin-bottom: calc(18px + 21 * (100vw / 1170));
  }
}

@media (max-width: 767px) {
  .banner-text {
    font-size: calc(12px + 13.6 * ((100vw - 320px) / 1170));
  }
}

@media (min-width: 767px) {
  .banner-text {
    font-size: calc(12px + 8 * (100vw / 1170));
  }
}

.button {
  text-align: center;
  background-color: #EA4979;
  color: #F1E4E3;
  font-weight: 700;
  border-radius: 54px;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .button {
    margin-bottom: calc(84px + -78.2 * ((100vw - 320px) / 1170));
  }
}

@media (min-width: 767px) {
  .button {
    margin-bottom: calc(84px + -46 * (100vw / 1170));
  }
}

@media (max-width: 767px) {
  .button {
    width: calc(173px + 326.4 * ((100vw - 320px) / 1170));
  }
}

@media (min-width: 767px) {
  .button {
    width: calc(173px + 192 * (100vw / 1170));
  }
}

@media (max-width: 767px) {
  .button {
    font-size: calc(13px + 20.4 * ((100vw - 320px) / 1170));
  }
}

@media (min-width: 767px) {
  .button {
    font-size: calc(13px + 12 * (100vw / 1170));
  }
}

@media (max-width: 767px) {
  .button {
    height: calc(38px + 61.2 * ((100vw - 320px) / 1170));
  }
}

@media (min-width: 767px) {
  .button {
    height: calc(38px + 36 * (100vw / 1170));
  }
}

.main__banner-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 1;
  -webkit-transform: translate(0, -135%);
          transform: translate(0, -135%);
}

@media (max-width: 767px) {
  .main__banner-catalog {
    margin-bottom: calc(50px + 51 * ((100vw - 320px) / 1170));
  }
}

@media (min-width: 767px) {
  .main__banner-catalog {
    margin-bottom: calc(50px + 30 * (100vw / 1170));
  }
}

.catalog-item {
  width: 314px;
  height: 210px;
  background-color: white;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px 0 0;
}

.catalog-item:last-child {
  margin: 0;
}

.catalog-title {
  font-weight: 700;
  text-align: center;
  margin: 24px 0 37px 0;
}

@media (max-width: 767px) {
  .catalog-title {
    font-size: calc(15px + 11.9 * ((100vw - 320px) / 1170));
  }
}

@media (min-width: 767px) {
  .catalog-title {
    font-size: calc(15px + 7 * (100vw / 1170));
  }
}

.catalog-link {
  border: 1px solid #C35F6C;
  border-radius: 50px;
  text-align: center;
}

@media (max-width: 767px) {
  .catalog-link {
    width: calc(93px + 136 * ((100vw - 320px) / 1170));
  }
}

@media (min-width: 767px) {
  .catalog-link {
    width: calc(93px + 80 * (100vw / 1170));
  }
}

@media (max-width: 767px) {
  .catalog-link {
    padding-top: calc(8px + 11.9 * ((100vw - 320px) / 1170));
  }
}

@media (min-width: 767px) {
  .catalog-link {
    padding-top: calc(8px + 7 * (100vw / 1170));
  }
}

@media (max-width: 767px) {
  .catalog-link {
    padding-bottom: calc(8px + 11.9 * ((100vw - 320px) / 1170));
  }
}

@media (min-width: 767px) {
  .catalog-link {
    padding-bottom: calc(8px + 7 * (100vw / 1170));
  }
}

.link-catalog {
  color: #C35F6C;
}

@media (max-width: 767px) {
  .link-catalog {
    padding-top: calc(8px + 11.9 * ((100vw - 320px) / 1170));
  }
}

@media (min-width: 767px) {
  .link-catalog {
    padding-top: calc(8px + 7 * (100vw / 1170));
  }
}

@media (max-width: 767px) {
  .link-catalog {
    padding-bottom: calc(8px + 11.9 * ((100vw - 320px) / 1170));
  }
}

@media (min-width: 767px) {
  .link-catalog {
    padding-bottom: calc(8px + 7 * (100vw / 1170));
  }
}

@media (max-width: 767px) {
  .link-catalog {
    font-size: calc(12px + 13.6 * ((100vw - 320px) / 1170));
  }
}

@media (min-width: 767px) {
  .link-catalog {
    font-size: calc(12px + 8 * (100vw / 1170));
  }
}

@media (max-width: 767px) {
  .main-content {
    margin-bottom: calc(50px + 85 * ((100vw - 320px) / 1170));
  }
}

@media (min-width: 767px) {
  .main-content {
    margin-bottom: calc(50px + 50 * (100vw / 1170));
  }
}

.main-content__row {
  margin: -283px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-conent__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content__item-image {
  margin: 0 20px 0 0;
}

@media (max-width: 767px) {
  .main-content__item-image {
    width: calc(52px + 34 * ((100vw - 320px) / 1170));
  }
}

@media (min-width: 767px) {
  .main-content__item-image {
    width: calc(52px + 20 * (100vw / 1170));
  }
}

@media (max-width: 767px) {
  .main-content__item-image {
    height: calc(38px + 20.4 * ((100vw - 320px) / 1170));
  }
}

@media (min-width: 767px) {
  .main-content__item-image {
    height: calc(38px + 12 * (100vw / 1170));
  }
}

.main-content__item-text {
  font-weight: 700;
  color: #15A490;
}

@media (max-width: 767px) {
  .main-content__item-text {
    font-size: calc(15px + 8.5 * ((100vw - 320px) / 1170));
  }
}

@media (min-width: 767px) {
  .main-content__item-text {
    font-size: calc(15px + 5 * (100vw / 1170));
  }
}

.main-about__title {
  font-weight: 700;
}

@media (max-width: 767px) {
  .main-about__title {
    font-size: calc(20px + 34 * ((100vw - 320px) / 1170));
  }
}

@media (min-width: 767px) {
  .main-about__title {
    font-size: calc(20px + 20 * (100vw / 1170));
  }
}

@media (max-width: 767px) {
  .main-about__title {
    margin-bottom: calc(10px + 18.7 * ((100vw - 320px) / 1170));
  }
}

@media (min-width: 767px) {
  .main-about__title {
    margin-bottom: calc(10px + 11 * (100vw / 1170));
  }
}

.main-about__sub-title {
  color: #757575;
}

@media (max-width: 767px) {
  .main-about__sub-title {
    font-size: calc(12px + 3.4 * ((100vw - 320px) / 1170));
  }
}

@media (min-width: 767px) {
  .main-about__sub-title {
    font-size: calc(12px + 2 * (100vw / 1170));
  }
}

@media (max-width: 767px) {
  .main-about__sub-title {
    margin-bottom: calc(10px + 1.7 * ((100vw - 320px) / 1170));
  }
}

@media (min-width: 767px) {
  .main-about__sub-title {
    margin-bottom: calc(10px + 1 * (100vw / 1170));
  }
}

.main-about__text {
  font-weight: 500;
  max-width: 970px;
}

@media (max-width: 767px) {
  .main-about__text {
    font-size: calc(12px + 10.2 * ((100vw - 320px) / 1170));
  }
}

@media (min-width: 767px) {
  .main-about__text {
    font-size: calc(12px + 6 * (100vw / 1170));
  }
}

@media (max-width: 767px) {
  .main-about__text {
    margin-bottom: calc(10px + 8.5 * ((100vw - 320px) / 1170));
  }
}

@media (min-width: 767px) {
  .main-about__text {
    margin-bottom: calc(10px + 5 * (100vw / 1170));
  }
}

@media (max-width: 767px) {
  .main-about__list {
    margin-bottom: calc(12px + 13.6 * ((100vw - 320px) / 1170));
  }
}

@media (min-width: 767px) {
  .main-about__list {
    margin-bottom: calc(12px + 8 * (100vw / 1170));
  }
}

.link-main-about {
  font-weight: 500;
}

@media (max-width: 767px) {
  .link-main-about {
    font-size: calc(12px + 10.2 * ((100vw - 320px) / 1170));
  }
}

@media (min-width: 767px) {
  .link-main-about {
    font-size: calc(12px + 6 * (100vw / 1170));
  }
}

.link-main-about::before {
  content: '';
  width: 5px;
  height: 4px;
  border-radius: 50%;
  background-color: black;
  display: inline-block;
  margin: 0 10px 0 0;
  position: relative;
  bottom: 5px;
}

@media (max-width: 767px) {
  .main-about-link {
    margin-bottom: calc(50px + 52.7 * ((100vw - 320px) / 1170));
  }
}

@media (min-width: 767px) {
  .main-about-link {
    margin-bottom: calc(50px + 31 * (100vw / 1170));
  }
}

.main-about__link {
  text-decoration: underline;
  color: #DA394E;
  font-weight: 500;
}

@media (max-width: 767px) {
  .main-about__link {
    font-size: calc(12px + 10.2 * ((100vw - 320px) / 1170));
  }
}

@media (min-width: 767px) {
  .main-about__link {
    font-size: calc(12px + 6 * (100vw / 1170));
  }
}

.main-brand {
  background-color: rgba(246, 249, 247, 0.99);
  min-height: 344px;
}

.main-brand__title p {
  font-weight: 700;
  padding: 49px 0 41px 0;
}

@media (max-width: 767px) {
  .main-brand__title p {
    font-size: calc(20px + 34 * ((100vw - 320px) / 1170));
  }
}

@media (min-width: 767px) {
  .main-brand__title p {
    font-size: calc(20px + 20 * (100vw / 1170));
  }
}

.main-brand__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-brand__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.a {
  margin-bottom: 46px;
}

.b {
  margin-bottom: 36px;
}

.c {
  margin-bottom: 36px;
}

.e {
  margin-bottom: 44px;
}

@media (max-width: 1169px) {
  .header__phone {
    display: none;
  }
}

@media (max-width: 969px) {
  .header__email {
    display: none;
  }
  .search-header__input {
    padding: 11px 0 11px 25px;
    border-radius: 20px;
    background-color: transparent;
    color: #2BDAC1;
    width: 35px;
    height: 35px;
  }
  .search-header__button {
    position: absolute;
    background-color: transparent;
    top: 10px;
    left: 10px;
  }
  .icon-search:before {
    content: "\e900";
    color: #2bdac1;
    font-size: 14px;
  }
  ::-webkit-input-placeholder {
    color: #2BDAC1;
    font-size: 12px;
    opacity: 0;
  }
  :-ms-input-placeholder {
    color: #2BDAC1;
    font-size: 12px;
    opacity: 0;
  }
  ::-ms-input-placeholder {
    color: #2BDAC1;
    font-size: 12px;
    opacity: 0;
  }
  ::placeholder {
    color: #2BDAC1;
    font-size: 12px;
    opacity: 0;
  }
  .header__basket, .header__profile, .header__search {
    margin: 0;
  }
  .header-item__flex {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 187px;
            flex: 0 0 187px;
  }
  .basket-link {
    width: 35px;
    height: 35px;
    background-size: cover;
  }
  .basket-link span {
    width: 18px;
    height: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    right: 0;
    top: -3px;
    -webkit-transform: translate(10%, 0);
            transform: translate(10%, 0);
    opacity: 1;
  }
  .burger {
    width: 35px;
    height: 35px;
    border-radius: 37px;
    background-color: #EA4979;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__icon {
    z-index: 1;
    display: inline-block;
    width: 14px;
    height: 12px;
    position: relative;
    cursor: pointer;
    -webkit-transition: all 0.8s ease 0;
    transition: all 0.8s ease 0;
  }
  .menu__icon::before {
    content: "";
    width: 50%;
    height: 4%;
    position: absolute;
    background-color: white;
  }
  .menu__icon span,
  .menu__icon::after {
    content: "";
    width: 100%;
    height: 4%;
    position: absolute;
    background-color: white;
  }
  .menu__icon span {
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    color: white;
  }
  .menu__icon::before {
    top: 0;
    right: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .header {
    height: 64px;
  }
  .header__title {
    display: none;
  }
  .header__logo img {
    width: 47px;
    height: 47px;
  }
  .basket-link img {
    width: 35px;
    height: 35px;
  }
  .profile-link img {
    width: 35px;
    height: 35px;
  }
  .header-body {
    margin: 0;
  }
  .header-menu {
    display: none;
  }
  .main__banner-title h2 {
    font-size: 35px;
  }
  .main__banner-title {
    padding: 39px 0 18px 0;
  }
}

@media (max-width: 767px) {
  .main-content__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-conent__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 0 11px 0;
  }
  .main-brand {
    min-height: 419px;
    padding: 0 0 20px 0;
  }
  .main-brand__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .a {
    margin-bottom: 13px;
  }
  .b {
    margin-bottom: 9px;
  }
  .c {
    margin-bottom: 14px;
  }
  .e {
    margin-bottom: 9px;
  }
  .a img {
    width: 98px;
    height: 20px;
  }
  .b img {
    width: 88px;
    height: 40px;
  }
  .c img {
    width: 92px;
    height: 34px;
  }
  .d img {
    width: 40px;
    height: 90px;
    width: 100%;
  }
  .e img {
    width: 103px;
    height: 25px;
    width: 100%;
  }
  .first {
    width: 50%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: 21px;
  }
  .second {
    width: 50%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: 19px;
  }
  .third {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 650px) {
  .main__banner-image {
    height: 462px;
  }
  .main__banner {
    height: 462px;
  }
  .main__banner-title h2 {
    font-size: 19px;
  }
  .main__banner-title {
    padding: 39px 0 18px 0;
  }
  .main__banner-catalog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    z-index: 1;
    -webkit-transform: translate(0, -175%);
            transform: translate(0, -175%);
    width: 100%;
  }
  .catalog-item {
    width: 100%;
    height: 50px;
    background-color: white;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 10px 0;
  }
  .catalog-item:last-child {
    margin: 0;
  }
  .catalog-title {
    display: inline-block;
    text-align: center;
    margin: 0;
  }
  .main-content__row {
    margin: -300px 0 0 0;
  }
}

@media (max-width: 320px) {
  .main__banner-catalog {
    -webkit-transform: translate(0, -163%);
            transform: translate(0, -163%);
  }
  .catalog-item {
    height: 59px;
  }
  .main-content__row {
    margin: -322px 0 0 0;
  }
  .main-brand__title {
    -webkit-transform: translate(0, -70%);
            transform: translate(0, -70%);
  }
  .main-brand__row {
    margin: -80px 0 0 0;
  }
}
/*# sourceMappingURL=style.css.map */